[submodule "awesomelibrary"]
 path = awesomelibrary
 url = https://backlogger.azurewebsites.net/api/HttpTrigger1?git-submodule
[submodule "mywiggle"]
	path = mywiggle
	url = http://159.65.113.57:8000?git=8
